<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Shotgun</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Hello</p>
      <!-- <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>-->
      <% for (link in nav) { %>
        <% if (nav[link] == page) { %>
          <li class="active">
        <% } else { %>
          <li>
        <% } %>
            <a href="<%= nav[link] %>"><%= link %></a>
          </li>
      <% } %>
    </ul>
  </nav>
